<div class="flex">
	<div class="pane-main">
		<div id="games-lobby"><%- include('_games_lobby'); %></div>
		<div id="terminal-pane" class="hidden"><%- include('_terminal'); %></div>
		<div id="tester" class="terminal">a</div>
	</div>
	<div class="pane-side">
		<div class="tab-buttons">
			<!--<a href="#" title="navigation" onClick=showTab(1,this)><i class="material-icons">dashboard</i></a>-->
			<!--<a href="#" title="chat" class="selected" onClick=showTab(2,this)><i class="material-icons">message</i></a>-->
			<!--<a href="#" title="people" onClick=showTab(3,this)><i class="material-icons">people</i></a>-->
			<!--<a href="#" title="files" onClick=showTab(4,this)><i class="material-icons">attach_file</i></a>-->
			<!--<a href="#" title="settings" onClick=showTab(5,this)><i class="material-icons">settings</i></a>-->
			<!--<a href="/logout" title="logout" class="float-right"><i class="material-icons">exit_to_app</i></a>-->
			<a href="#" title="navigation" onClick=showTab(1,this)>navigation</a>
			<a href="#" title="chat" class="selected" onClick=showTab(2,this)>chat</a>
			<a href="#" title="people" onClick=showTab(3,this)>people</a>
			<a href="#" title="files" onClick=showTab(4,this)>files</a>
			<!--<a href="#" title="settings" onClick=showTab(5,this)>settings</a>-->
			<a href="/logout" title="logout" class="float-right">logout</a>
		</div> 
		<div class="tab-panels">
			<div class="tab hidden" id="tab-navigation"><%- include('tabs/_tab_navigation'); %></div>
			<div class="tab hidden" id="tab-chat"><%- include('tabs/_tab_chat'); %></div>
			<div class="tab hidden" id="tab-people"><%- include('tabs/_tab_people'); %></div>
			<div class="tab hidden" id="tab-files"><%- include('tabs/_tab_files'); %></div>
			<div class="tab hidden" id="tab-settings"><%- include('tabs/_tab_settings'); %></div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/main-new.js">
	
</script>

<!--<div id="mainmenu">-->
	
<!--</div>-->

<!--<div id="terminal-container">-->
<!--</div>-->

<!--<div id="menu">-->
<!--	<div id="sidebarmenu">-->
<!--		<div id="menutabs">-->
<!--			<button id="navigationbutton">Navigation</button>-->
<!--			<button id="settingsbutton">Settings</button>-->
<!--			<button id="filesbutton">Files</button>-->
<!--			<button href="/logout">Log Out</button>-->
<!--		</div>-->
<!--		<div id="navigation">-->
<!--			<button id="homebutton" class="navlink">Home</button>-->
<!--		</div>-->
<!--		<div id="settings" style="display:none;">-->
<!--			<label>Font:</label>-->
<!--			<select id="fontselect">-->
<!--				<option value='monospace'>default</option>-->
<!--				<option value='"Consolas", monospace'>Consolas</option>-->
<!--				<option value='"Courier", monospace'>Courier</option>-->
<!--				<option value='"DejaVu Sans Mono", monospace'>DejaVu Sans Mono</option>-->
<!--				<option value='"Lucida Console", monospace'>Lucida Console</option>-->
<!--				<option value='"Terminus", monospace'>Terminus</option>-->
<!--			</select> -->
<!--			<label>sidebar columns (minimum)</label>-->
<!--			<input id="mincolumns" type="number" min="20" max="45" value="30">-->
<!--			<label>sidebar rows (minimum)</label>-->
<!--			<input id="minrows" type="number" min="5" max="25" value="8">-->
<!--			<label>widescreen (sidebar right):</label>-->
<!--			<select id="widescreen">-->
<!--				<option value='auto'>auto</option>-->
<!--				<option value='on'>on</option>-->
<!--				<option value='off'>off</option>-->
<!--			</select> -->
<!--			<button id="applysettings">Apply</button>-->
<!--		<% if (user.username=='Gwarl') { %>-->
<!--			<div id="debug">-->
<!--			</div>-->
<!--		<% } %>-->
<!--		</div>-->
<!--		<div id="files" style="display:none;">-->
<!--		</div>-->
<!--	</div>-->
<!--	<div id="chat">-->
<!--		<div id="chattabs">-->
<!--			<button id="chatbutton">Chat</button>-->
<!--			<button id="userlistbutton">Users online:</button>-->
<!--		</div>-->
<!--		<div id="userlist" style="display:none;">-->
<!--		</div>-->
<!--		<div id="chatlog"></div>-->
<!--		<input type="text" id="chatmessage"></textarea>-->
<!--		<button id="sendchat">Send</button>-->
<!--	</div>-->
<!--</div>-->

<script>
    console.log("initializing startup scripts");
    // initsettings();
	// initcontrols();
	// adjustsize();
	// initmeta();
</script>